footer {
  height: var(--footer-ht);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 1em;
}

.footer-text {
  width: max-content;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 500;
}

.footer-text a {
  text-decoration: none;
  color: #ffffff;
}

.footer-text a:hover {
  color: var(--side-color);
  transition: 0.2s;
}
