/* darkRed: #701919 | green: #707019 | blue: #191970 */

.header-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  padding: 9px 15px;
  background-color: #191970;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  color: #ffffff;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-links {
  margin: 0 5px;
  padding: 7px 9px;
  border-radius: 3px;
  color: #ffffff;
}

.nav-links:hover {
  background-color: #707019;
}

.active-link {
  background-color: #707019;
}

/* styling select language */

.select-container {
  padding: 5px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  vertical-align: baseline;
}

.language-select {
  border: none;
  color: #fff;
  background-color: transparent;
}

.select-container:hover {
  background-color: #707019;
  cursor: pointer;
}

.language-select:focus {
  outline: none;
}

.select-container>select>option {
  background-color: #707019;
}

/* End of styling select language */

.right-menu-container {
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
}

.menu-header {
  padding: 5px;
  border-radius: 40px;
}

.menu-header:hover {
  background-color: #707019;
  transition: 0.2s;
}

.fa-caret-down {
  margin-left: 5px;
}

.userIMG {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.userName {
  display: inline-block;
  width: fit-content;
  margin: 0 5px 0 7px;
}

.menu {
  position: absolute;
  top: 55px;
  right: 0;
  padding: 0;
  color: #191970;
  width: max-content;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.profile-sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 11px;
}

.profile-sec:hover {
  background-color: #707019;
  color: #ffffff;
}

.log-out-sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 11px;
  color: #701919;
}

.log-out-sec:hover {
  background-color: #701919;
  color: #ffffff;
  transition: 0.3s;
}

.signup-btn {
  background-color: transparent;
  color: #ffffff;
  padding: 5px 15px;
  border: 2px solid #ffffff;
  border-radius: 9px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.signup-btn:hover {
  border-color: #707019;
}
