.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'logo nav right-block';
  align-items: center;
  padding: 0 15px;
  min-width: fit-content;
  width: 100%;
  height: 55px;
  font-size: 1rem;
  color: var(--header-font);
  background-color: var(--main-color);
  box-shadow: 0 0 5px 0 rgba(153, 153, 153, 0.5);
  z-index: 100;
}

.sub-hdr {
  height: 55px;
}

.toggle-menu {
  display: none;
}

.logo-container {
  grid-area: logo;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--header-font);
}

.logo-word {
  font-size: 25px;
  margin-left: 7px;
}

.web-nav-container {
  grid-area: nav;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.web-right-block {
  grid-area: right-block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
}

.web-nav-link {
  padding: 5px 7px;
  border-radius: 3px;
  color: var(--header-font);
}

.mdl-link {
  margin: 0 5px;
}

.web-nav-link:hover {
  color: #121212;
  background-color: var(--side-color);
}

/* select language styles */

.select-lang {
  border: none;
  padding: 3px 5px;
  border-radius: 3px;
  color: var(--header-font);
  cursor: pointer;
  background-color: transparent;
  width: fit-content;
}

.select-lang:hover {
  color: #121212;
  background-color: var(--side-color);
}

.select-lang:focus {
  outline: none;
}

.select-lang>option {
  background-color: var(--side-color);
}

/* dark-mode */

.dark-mode {
  margin-inline: 5px;
  padding: 5px;
  cursor: pointer;
}

.moon-svg {
  fill: var(--side-color);
  width: 30px;
  padding: 5px;
  border-radius: 50%;
}

.sun-svg {
  fill: var(--header-font);
  width: 30px;
  padding: 5px;
  border-radius: 50%;
}

.moon-svg:hover {
  fill: #121212;
  background-color: var(--side-color);
}

.sun-svg:hover {
  fill: var(--main-color);
  background-color: var(--side-color);
}

/* right toggle menu */

.web-toggle-menu {
  position: relative;
  background-color: transparent;
  color: var(--header-font);
  border: none;
  padding: 0;
  margin: 0;
}

.menu-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 40px;
}

.menu-header:hover {
  color: #121212;
  background-color: var(--side-color);
  transition: 0.2s;
}

.fa-caret-down {
  margin-left: 0 3px;
}

.userIMG {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.userName {
  display: inline-block;
  width: fit-content;
  margin: 0 5px 0 7px;
}

.menu {
  position: absolute;
  top: 50px;
  right: 5px;
  padding: 0;
  color: var(--font-color);
  width: max-content;
  border-radius: 5px;
  background-color: var(--template-bg-color);
  box-shadow: 0 0 9px 0 var(--font-color);
  z-index: 100;
}

.profile-sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 11px;
}

.profile-sec:hover {
  color: #121212;
  background-color: var(--side-color);
}

.log-out-sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 11px;
  color: var(--danger-color);
}

.log-out-sec:hover {
  background-color: var(--danger-color);
  color: #ffffff;
  transition: 0.3s;
}

.signup-btn {
  background-color: transparent;
  color: var(--header-font);
  padding: 5px 9px;
  border: 2px solid var(--header-font);
  border-radius: 9px;
  width: max-content;
  white-space: nowrap;
}

.signup-btn:hover {
  color: #ffffff;
  border-color: var(--side-color);
}

/* tablet view styles */

@media screen and (max-width: 850px) {
  .header-container {
    grid-template-areas:
      'nav logo right-block';
  }

  .logo-container {
    justify-content: center;
  }

  .logo-word {
    display: none;
  }
}

/* mobile view styles */

@media screen and (max-width: 650px) {
  .web-nav-container, .web-right-block {
    display: none;
  }

  .toggle-menu {
    all: unset;
  }

  .logo-word {
    display: inherit;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    top: 0;
  }

  .logo-container {
    margin: 0;
  }

  .toggle-menu {
    position: relative;
    color: var(--header-font);
  }

  .menu-icon-container {
    cursor: pointer;
  }

  .mobile-nav {
    position: absolute;
    top: 35px;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: max-content;
    background-color: var(--popup-bg-color);
    box-shadow: 0 0 9px 0 var(--font-color);
    border-radius: 3px;
    cursor: zoom-in;
    z-index: 121;
  }

  .mobile-nav-link {
    color: var(--font-color);
    margin: 5px 0;
    padding: 5px 15px;
    border-radius: 3px;
  }

  .mobile-nav-link:hover {
    color: #121212;
    background-color: var(--side-color);
  }

  .last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-block: 0;
  }

  .last:hover {
    color: #121212;
    background-color: transparent;
  }

  .last>* {
    background-color: var(--side-color);
  }

  .select-lang-mobile {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .dark-mode-mobile {
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
    fill: var(--main-color);
  }

  .dark-mode-mobile .moon-svg {
    fill: #121212;
  }

  .dark-mode-mobile .sun-svg {
    fill: var(--main-color);
  }

  .logout-link {
    margin: 5px 0;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    color: var(--danger-color);
  }

  .logout-link:hover {
    color: #fff;
    background-color: var(--danger-color);
  }

  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 120;
  }
}

/* other classes */

.active-link {
  color: #121212;
  background-color: var(--side-color);
}

.active-link-mobile {
  color: #121212;
  background-color: var(--side-color);
}

.header-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logout-logo {
  margin: 0;
}
