<div class="profile-container">
  <div class="card-container"  [ngClass]="{'black-bg': showEditTemplate}">
    <div class="card p-4 facebook-style">
      <div class=" image d-flex flex-column justify-content-center align-items-center">
        <!-- profile picture -->
        <div style="border-radius: 50%;">
          <img [src]="user.imageURL" height="150" width="150" style="border-radius: 50%;">
        </div>
        <!-- display name -->
        <span class="name mt-3"><strong>{{ user.firstName }} {{ user.lastName }}</strong></span>
        <span style="font-size: smaller;"><em>{{ user.role }}</em></span><br>
        <div style="text-align: left;">
          <!-- email -->
          <div><i class="fas fa-envelope"></i> {{ user.email }}</div>
          <!-- mobile -->
          <div><i class="fas fa-phone-square-alt"></i> {{ user.phoneNumber }}</div>
          <!-- joining date -->
          <div>Joined : <em>{{ joinedDate }}</em></div>
        </div>
        <br>
        <!-- edit infos button -->
        <div class=" d-flex mt-2">
          <button class="btn1 btn-dark" (click)="showPopUp()">Edit Profile</button>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="showEditTemplate" class="popup-container facebook-style" (blur)="hidePopUp()">
    <div class="close-btn-container">
      <h5 class="form-title">Edit Profile</h5>
      <i class="fas fa-times-circle" (click)="hidePopUp()" title="Cancel"></i>
    </div>
    <hr style="margin: 15px;">
    <app-edit-profile
      [profileInfos]="user"
      (updatedValues)="updateProfile($event)">
    </app-edit-profile>
  </button>
</div>
