.name-div, .mobile-div, .error-msg-div {
  margin: 15px 0;
}

.btns-container {
  display: flex;
  margin-top: 25px;
}

.btn {
  width: 50%;
}

.full-width-btn {
  width: 100%;
}

.btn-success {
  margin-right: 7px;
}

.btn-danger {
  margin-left: 7px;
}

