<form [formGroup]="rdvform" class="form">
  <!-- name input -->
  <div class="name-div">
    <input type="text" formControlName="displayName" class="input-form" placeholder="{{'Enter a name' | translate}}">
    <p *ngIf="rdvform.controls['displayName'].touched && rdvform.controls['displayName'].invalid"
        class="danger-msg">{{'invalid name' | translate}}</p>
  </div>
  <!-- mobile input -->
  <div class="mobile-div">
    <input type="tel" formControlName="phoneNumber" class="input-form" placeholder="{{'Phone Number' | translate}}">
    <p *ngIf="rdvform.controls['phoneNumber'].touched && rdvform.controls['phoneNumber'].invalid"
        class="danger-msg">{{'Phone Number must contain 10 digit numbers' | translate}}</p>
  </div>
  <!-- buttons -->
  <div class="btns-container">
    <button [disabled]="rdvform.invalid" class="btn btn-success" (click)="submitForm()"
            [ngClass]="{'full-width-btn': !rdvID || !showDeleteBtn}">
      <span *ngIf="!rdvID">{{'Add Rendezvous' | translate}}</span>
      <span *ngIf="rdvID">{{'Update Rendezvous' | translate}}</span>
    </button>
    <!-- delete btn -->
    <button *ngIf="rdvID && showDeleteBtn" class="btn btn-danger" (click)="deleteRDV()">{{'Delete Rendezvous' | translate}}</button>
  </div>
</form>
