<div class="rdvs-container">
  <!-- Pending Rendezvous -->
  <div *ngIf="pendingRendezvous | async" class="table-container facebook-style">
    <div class="t-title-container">
      <span class="t-title">{{'Pending Rendezvous' | translate}}</span>
    </div>
    <app-table
      [tableCols]="pendingRDVsCols"
      [infos]="pendingRendezvous | async"
      [showBtns]="true"
      [currentUser]="user"
      (updateInfosEvent)="showHalfwayPopup($event)">
    </app-table>
  </div>
  <!-- Approved Rendezvous -->
  <div *ngIf="approvedRendezvous | async" class="table-container facebook-style">
    <div class="t-title-container">
      <span class="t-title">{{'Approved Rendezvous' | translate}}</span>
    </div>
    <app-table
      [tableCols]="approvedRDVsCols"
      [infos]="approvedRendezvous | async"
      [showBtns]="true"
      [currentUser]="user"
      (updateInfosEvent)="showHalfwayPopup($event)">
    </app-table>
  </div>

  <!-- halfway popup -->
  <div *ngIf="halfwayPopup" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        <span *ngIf="isPending">{{'Approve, Update or Delete this Rendezvous' | translate}}</span>
        <span *ngIf="isApproved">{{'Update, Finish or Cancel this Rendezvous' | translate}}</span>
      </div>
      <div class="close-btn" (click)="hidePopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <!-- rdv infos -->
      <p style="margin: 15px 0 30px 0;">
        - {{'Name:' | translate}} <strong>{{ rdv?.displayName }}</strong><br>
        - {{'Created in:' | translate}} <strong>{{ rdv?.createdAt }}</strong>.
      </p>
      <!-- err msg -->
      <p class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
      <!-- buttons -->
      <div class="halfway-btns-container" [ngClass]="{'cols-3': isPending, 'cols-2': isApproved}">
        <button *ngIf="isPending" class="btn btn-success" (click)="proceedToApproveRDV()">
          {{'Approve' | translate}}
        </button>
        <button class="btn btn-info" (click)="proceedToUpdateRDV()">
          {{'Update' | translate}}
        </button>
        <button *ngIf="isPending" class="btn btn-danger" (click)="deleteRendezvous()">
          {{'Delete' | translate}}
        </button>
        <button *ngIf="isApproved" class="btn btn-danger" (click)="cancelRendezvous()">
          {{'Cancel' | translate}}
        </button>
      </div>
    </div>
  </div> <!-- /halfway popup -->

  <!-- approve rdv popup -->
  <div *ngIf="approveRDVpopup" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        {{'Approve Rendezvous' | translate}}
      </div>
      <div class="close-btn" (click)="hidePopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <p *ngIf="rdv" style="margin: 15px 0 30px 0;">
        {{'Do you want to approve this Rendezvous?' | translate}}<br>
        - {{'Name:' | translate}} <strong>{{ rdv?.displayName }}</strong><br>
        - {{'Created in:' | translate}} <strong>{{ rdv?.createdAt }}</strong>.
      </p>
      <label for="rdv-date" style="font-size: small;">{{'Please add a Date:' | translate}}</label><br>
      <input class="form-control" type="datetime-local" name="rdv-date" [ngClass]="{'input-alert': errorMsg}" #rdvDateInput>
      <p class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
      <div class="btns-container">
        <button class="btn btn-success" (click)="approveRDV(rdv, rdvDateInput.value)">
          {{'Approve' | translate}}
        </button>
      </div>
    </div>
  </div> <!-- /approve-rdv-popup -->

  <!-- update rdv popup -->
  <div *ngIf="updateRDVpopup" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        {{'Update Rendezvous' | translate}}
      </div>
      <div class="close-btn" (click)="hidePopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <app-rdv-form
        [rdv]="rdv"
        [showDeleteBtn]="false"
        (rdvFormValue)="updateRendezvous($event)">
      </app-rdv-form>
      <!-- err msg -->
      <p class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
    </div>
  </div> <!-- /update rdv popup -->

  <!-- chart -->
  <div *ngIf="rdvsPerMonth" class="chart-container facebook-style">
    <app-chart
      [chartX]="months"
      [chartY]="rdvsPerMonth"
      [chartType]="'bar'"
      chartTitle="{{'New Rendezvous Per Month' | translate}}"
      [chartID]="'rdvsChart'">
    </app-chart>
  </div>
</div>

<div *ngIf="halfwayPopup || approveRDVpopup || updateRDVpopup" class="overlay" (click)="hidePopup()"></div>
