.rdv-container {
  min-height: 100vh;
  position: relative;
}

.form-container {
  display: block;
  position: fixed;
  top: 30%;
  left: 33%;
  width: 500px;
  z-index: 10;
}

.close-btn-container {
  margin: 15px;
  text-align: right;
}

.close-btn-container i {
  font-size: x-large;
  padding: 3px;
  cursor: pointer;
}

.close-btn-container i:hover {
  color: #b6b61a;
}

.error-msg-div {
  color: #ff093a;
}

.newRDV-btn-container {
  max-width: 75%;
  min-width: 500px;
  margin: 15px auto;
}

.newRDV-btn-container button {
  width: fit-content;
}

.table-container {
  max-width: 75%;
  min-width: 500px;
  margin: 15px auto;
  padding: 15px;
}

.black-bg {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  top: -15px;
  left: 0;
  background-color: black;
  z-index: 9;
}
