<div class="rdv-container">
  <!-- button   -->
  <div class="newRDV-btn-container">
    <button class="btn btn-success" (click)="showPopup()">
      <i class="far fa-calendar-plus"></i>
      <span style="margin-left: 7px;">{{'New Rendezvous' | translate}}</span>
    </button>
  </div>

  <!-- table -->
  <div *ngIf="approvedRDVs | async as RDVs" class="facebook-style table-container rdv-table">
    <div class="t-title-container">
      <span class="t-title">{{'Approved Rendezvous' | translate}}</span>
    </div>
    <app-table
      [tableCols]="rdvCol"
      [infos]="RDVs"
      [showBtns]="false"
      [currentUser]="user"
      (loadMoreData)="onTableNext()"
      (updateInfosEvent)="proceedToUpdate($event)">
    </app-table>
  </div>

  <div>
    <h2>testing</h2>
    <p *ngFor="let rdv of combindRDVs$">
      {{ rdv.displayName }}
    </p>
  </div>

  <!-- popup -->
  <div *ngIf="showForm" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        <span *ngIf="!rdv">{{'Create New Rendezvous' | translate}}</span>
        <span *ngIf="rdv">{{'Update Rendezvous' | translate}}</span>
      </div>
      <div class="close-btn" (click)="hidePopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <app-rdv-form
        [rdv]="rdv"
        [showDeleteBtn]="false"
        (rdvFormValue)="submitRDVform($event)">
      </app-rdv-form>
      <!-- error msg -->
      <p *ngIf="formErrorMsg" class="text-danger">{{ formErrorMsg }}</p>
    </div>
  </div> <!-- /popup -->

  <div *ngIf="showForm" class="overlay" (click)="hidePopup()"></div>
</div>
