<div class="global-container">
  <div class="profile-container facebook-style" *ngIf="user">
    <!-- profile picture -->
    <div class="img-container profile-section" (click)="editPicInput.click()">
      <img [src]="user.imageURL" class="edit-pic" alt="User's profile picture">
      <i class="fas fa-upload" title="Click To Upload New Photo"></i>
      <input #editPicInput (change)="fileChangeEvent($event)" style="display: none;" type="file" accept="image/*">
    </div>
    <!-- display name -->
    <div class="profile-section"><strong>{{ user.firstName }} {{ user.lastName }}</strong></div>
    <div class="profile-section" style="font-size: smaller;"><em>{{ user.role }}</em></div><br>
    <div class="profile-section" style="text-align: left;">
      <!-- email -->
      <div><i class="fas fa-envelope"></i> {{ user.email }}</div>
      <!-- mobile -->
      <div><i class="fas fa-phone-square-alt"></i> {{ user.phoneNumber }}</div>
      <!-- joining date -->
      <div>Joined: <em>{{ user.created_at.toDate() | date: 'MMMM dd, yyyy' }}</em></div>
    </div>
    <br>
    <!-- button(Edit Profile) -->
    <div class="profile-section">
      <button class="btn1 btn-dark" (click)="showEditProfilePopUp()">Edit Profile</button>
    </div>
  </div> <!-- /profile-container -->

  <!-- crop picture popup -->
  <div class="crop-popup facebook-style" *ngIf="editPicPopup">
    <div class="crop-inside">
      <!-- crop header container -->
      <div class="crop-hdr-container">
        <h5 class="form-title">Crop Image</h5>
        <i *ngIf="!uploading" class="fas fa-times-circle" (click)="hideEditPicPopup()" title="Cancel"></i>
      </div>
      <hr style="color: black; margin: 9px 0;">
      <!-- crop image -->
      <div *ngIf="imageFile" class="img-crop-container">
        <image-cropper
          [imageChangedEvent]="imageFile"
          [maintainAspectRatio]="true"
          [resizeToWidth]="256"
          [aspectRatio]="1"
          format="png"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
      <button class="btn btn-success" *ngIf="croppedImage" (click)="saveImg()">Save Image</button>
      <!-- progress field -->
      <div *ngIf="uploading" class="progress-container">
        <p class="text-warning">Uploading Picture...</p>
        <div style="display: flex; flex-wrap: nowrap;">
          <progress [value]="percentage | async" max="100" style="width:100%"></progress>
          <span *ngIf="percentage | async">{{ percentage | async | number: '1.0-0' }}%</span>
        </div>
      </div> <!-- /progress-container -->
      <!-- err msg -->
      <p *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</p>
    </div> <!-- /crop-inside -->
  </div> <!-- /crop-popup -->

  <!-- edit profile infos popup -->
  <button *ngIf="editProfilePopup" class="popup-container facebook-style">
    <div class="close-btn-container">
      <h5 class="form-title">Edit Profile</h5>
      <i class="fas fa-times-circle" (click)="hideEditProfilePopUp()" title="Cancel"></i>
    </div>
    <hr style="margin: 15px;">
    <!-- calling EditProfileComponent -->
    <app-edit-profile
      [profileInfos]="user"
      (updatedValues)="updateProfile($event)">
    </app-edit-profile>
    <p *ngIf="errorMsg" class="text-danger">{{ errorMsg }}</p>
  </button>

  <div class="dark-bg" *ngIf="editProfilePopup || editPicPopup"></div>
</div>
