.global-container {
  position: relative;
  min-height: 100vh;
  padding: 15px;
}

.profile-container {
  margin: 0 auto;
  padding: 15px;
  width: clamp(50%, 50%, 90%);
  height: fit-content;
  background-color: #fff;
}

.img-container {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-container:hover {
  filter: brightness(75%);
  transition: 0.2s;
}

.img-container:hover .fa-upload {
  display: inherit;
}

.edit-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.fa-upload {
  position: absolute;
  font-size: 50px;
  color: #fff;
  top: 40px;
  left: 50px;
  display: none;
  cursor: pointer;
  padding: 5px;
}

.profile-section {
  width: fit-content;
  margin: 5px auto;
}

.crop-popup {
  position: absolute;
  top: clamp(15px, 10vh, 25vh);
  left: clamp(10%, 30%, 50%);
  width: 500px;
  min-height: fit-content;
  max-height: 90vh;
  z-index: 11;
}

.crop-inside {
  position: relative;
  width: 500px;
  min-height: fit-content;
  max-height: 90vh;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crop-hdr-container {
  display: flex;
  justify-content: space-between;
}

.img-crop-container {
  width: 100%;
  height: 300px;
  text-align: center;
}

.popup-container {
  border: none;
  display: block;
  position: absolute;
  top: 15px;
  left: 25%;
  width: 50%;
  z-index: 11;
  cursor: zoom-in;
}

.close-btn-container {
  margin: 15px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.fa-times-circle {
  font-size: x-large;
  padding: 3px;
  cursor: pointer;
}

.fa-times-circle:hover {
  color: #b6b61a;
}

.dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  min-height: 100%;
  z-index: 10;
}
