<div class="global-container">
  <div class="profile-container facebook-style" *ngIf="user">
    <!-- profile picture -->
    <div class="img-container" (click)="editPicInput.click()">
      <img [src]="user.imageURL" class="profile-photo" alt="User's profile picture">
      <div class="upload-icon-container">
        <i class="fas fa-upload" title="{{'Click To Upload New Photo' | translate}}"></i>
      </div>
      <input #editPicInput (change)="fileChangeEvent($event)" style="display: none;" type="file" accept="image/*">
    </div>
    <div class="profile-info-container">
      <!-- display name -->
      <div class="profile-section">
        <strong>{{ user.firstName }} {{ user.lastName }}</strong>
        <div class="profile-section" style="text-align: center;">
          <em style="font-size: small;">{{ user.role }}</em>
        </div>
      </div>
      <div class="profile-section" style="text-align: left; margin: 15px 0;">
        <!-- email -->
        <div class="user-infos">
          <i class="fas fa-envelope"></i>
          <span class="span-info">{{ user.email }}</span>
        </div>
        <!-- mobile -->
        <div class="user-infos">
          <i class="fas fa-phone-square-alt"></i>
          <span class="span-info">{{ user.phoneNumber }}</span>
        </div>
        <!-- joining date -->
        <div class="user-infos">
          {{'Joined:' | translate}} <em>{{ user.created_at.toDate() | date: 'MMMM dd, yyyy' }}</em>
        </div>
      </div>
      <!-- button(Edit Profile) -->
      <div class="profile-section">
        <button mat-raised-button class="edit-btn" (click)="showEditProfilePopUp()">
          {{'Edit Profile' | translate}}
        </button>
      </div>
    </div>
  </div> <!-- /profile-container -->

  <!-- crop img -->
  <div class="popup-modal facebook-style" *ngIf="editPicPopup">
    <div class="popup-modal-header">
      <div class="title">
        {{'Crop Image' | translate}}
      </div>
      <div *ngIf="!uploading" class="close-btn" (click)="hideEditPicPopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <div *ngIf="imageFile" class="img-cropper-container">
        <image-cropper
          [imageChangedEvent]="imageFile"
          [maintainAspectRatio]="true"
          [resizeToWidth]="256"
          [aspectRatio]="1"
          format="png"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
      <button class="btn btn-success" *ngIf="croppedImage" (click)="saveImg()">
        {{'Save Image' | translate}}
      </button>
      <!-- progress field -->
      <div *ngIf="uploading" class="progress-container">
        <p class="text-warning">{{'Uploading Picture...' | translate}}</p>
        <div style="display: flex; flex-wrap: nowrap;">
          <progress [value]="percentage | async" max="100" style="width:100%"></progress>
          <span *ngIf="percentage | async">{{ percentage | async | number: '1.0-0' }}%</span>
        </div>
      </div> <!-- /progress-container -->
      <!-- err msg -->
      <p *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</p>
    </div> <!-- /popup-modal-body -->
  </div> <!-- /popup-modal -->

  <!-- edit profile -->
  <div *ngIf="editProfilePopup" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        {{'Edit Profile' | translate}}
      </div>
      <div class="close-btn" (click)="hideEditProfilePopUp()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <app-edit-profile
        [profileInfos]="user"
        (updatedValues)="updateProfile($event)">
      </app-edit-profile>
      <p *ngIf="errorMsg" class="text-danger">{{ errorMsg }}</p>
    </div>
  </div> <!-- /popup-modal -->

  <div class="overlay" *ngIf="editProfilePopup || editPicPopup" (click)="hideAllPopups()"></div>
</div>
