<div class="approved-rdvs-container">

  <div class="approved-rdvs-table-container facebook-style" *ngIf="approvedRDVs">
    <app-table
      [tableCols]="approvedRDVsCols"
      [infos]="approvedRDVs"
      [showBtns]="true"
      [currentUser]="user"
      (updateInfosEvent)="proceedToUpdate($event)">
    </app-table>
  </div> <!-- /approved-rdvs-table-container -->

  <!-- popup-container -->
  <div class="popup-container facebook-style" *ngIf="showPopup">
    <div class="close-btn-container">
      <h4>Edit Rendezvous</h4>
      <i class="fas fa-times-circle" (click)="hidePopup()" title="Cancel"></i>
    </div>
    <hr style="margin: 11px 0 25px 0;">
    <label for="rdv-date">Edit Rendezvous Date:</label><br>
    <input class="form-control" type="datetime-local" name="rdv-date" [value]="rdvDateForInput"
           [ngClass]="{'input-alert': errorMsg}" #rdvDateInput>
    <p class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
    <div class="btns-container">
      <button class="btn btn-success" (click)="updateRDV(rdv, rdvDateInput.value)">
        Update Rendezvous
      </button>
      <button class="btn btn-danger" (click)="deleteRDV(rdv?.rdvID)">
        Delete Rendezvous
      </button>
    </div>
  </div> <!-- /popup-container -->

  <!-- chart container -->
  <div class="chart-container facebook-style" *ngIf="approvedRDVs && approvedRDVsPerMonth">
    <app-chart
      [chartX]="months"
      [chartY]="approvedRDVsPerMonth"
      [chartType]="'bar'"
      [chartTitle]="'Approved Rendezvous Per Month'"
      [chartID]="'approvedRDVsChart'">
    </app-chart>
  </div> <!-- /chart-container -->

</div> <!-- /approved-rdvs-container -->


<!-- dark background -->
<div *ngIf="showPopup" class="black-bg" (click)="hidePopup()"></div>
