<div class="rdvs-part-container">
  <div *ngIf="RDVsList" class="table_container facebook-style" style="padding: 9px;">
    <app-table
      [tableCols]="rdvCol"
      [infos]="RDVsList"
      [showBtns]="true"
      [currentUser]="user"
      (updateInfosEvent)="proceedToUpdate($event)">
    </app-table>
  </div>

  <!-- popup (edit profile) -->
  <div *ngIf="showForm" class="form-container facebook-style">
    <div class="close-btn-container">
      <i class="fas fa-times-circle" (click)="hidePopupForm()" title="Cancel"></i>
    </div>
    <app-rdv-form
      [rdv]="rdv"
      (rdvFormValue)="submitRDVform($event)"
      (deleteRDVid)="deleteRDV($event)">
    </app-rdv-form>
    <!-- error msg -->
    <div *ngIf="formErrorMsg" class="error-msg-div">{{ formErrorMsg }}</div>
  </div>
  <!-- chart here -->
  <div *ngIf="RDVsList && rdvsPerMonth" class="chart-comp-container facebook-style" style="padding: 9px;margin-top: 15px;">
    <app-chart
      [chartX]="months"
      [chartY]="rdvsPerMonth"
      [chartType]="'bar'"
      [chartTitle]="'New Rendezvous Per Month'"
      [chartID]="'rdvsChart'">
    </app-chart>
  </div>
</div>

<div *ngIf="showForm" class="black-bg" (click)="hidePopupForm()"></div>
