<div class="container" style="padding: 15px;">
  <!-- profile picture -->
  <div style="text-align: center;">
    <button style="background-color: transparent; border: none;">
      <img [src]="profileInfos.imageURL" class="edit-pic" title="Click To Upload Photo">
    </button>
</div>
  <hr class="hr">
  <!-- form -->
  <form [formGroup]="editProfileForm" class="signup-form">
    <!-- first name -->
    <div class="form-section first-name">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" formControlName="firstName" [ngClass]="{'warning':
      editProfileForm.controls['firstName'].invalid && editProfileForm.controls['firstName'].touched}">

      <p *ngIf="editProfileForm.controls['firstName'].invalid && editProfileForm.controls['firstName'].touched"
        class="warning-message">First Name is invalid</p>
    </div>
    <!-- last name -->
    <div class="form-section last-name">
      <label for="lastName">Last Name</label>
      <input class="form-control" type="text" formControlName="lastName" [ngClass]="{'warning':
            editProfileForm.controls['lastName'].invalid && editProfileForm.controls['lastName'].touched}">

      <p *ngIf="editProfileForm.controls['lastName'].invalid && editProfileForm.controls['lastName'].touched"
        class="warning-message">Last Name is invalid</p>
    </div>
    <!-- phone number -->
    <div class="form-section phone-number">
      <label for="phoneNumber">Phone Number</label>
      <input class="form-control" type="tel" formControlName="phoneNumber" [ngClass]="{'warning':
            editProfileForm.controls['phoneNumber'].invalid && editProfileForm.controls['phoneNumber'].touched}">

      <p *ngIf="editProfileForm.controls['phoneNumber'].invalid && editProfileForm.controls['phoneNumber'].touched"
        class="warning-message">Phone Number must contain 10 digit numbers</p>
    </div>
    <!-- submit button -->
    <button class="btn btn-success" [disabled]="editProfileForm.invalid" (click)="submitForm()">
      Save
    </button>
  </form>
</div>
