<div class="my-rdvs-container">
  <!-- Approved Rendezvous -->
  <div class="facebook-style table-container" *ngIf="myApprovedRDVs | async as rdvs">
    <div class="t-title-container">
      <span class="t-title">{{'My Approved Rendezvous' | translate}}</span>
    </div>
    <app-table
      [tableCols]="myApprovedRDVsCols"
      [infos]="rdvs"
      [currentUser]="user"
      (updateInfosEvent)="showHalfwayPopup($event)">
    </app-table>
  </div>

  <!-- Pending Rendezvous -->
  <div class="facebook-style table-container" *ngIf="myPendingRDVs | async as rdvs">
    <div class="t-title-container">
      <span class="t-title">{{'My Pending Rendezvous' | translate}}</span>
    </div>
    <app-table
      [tableCols]="myPendingRDVsCols"
      [infos]="rdvs"
      [currentUser]="user"
      (updateInfosEvent)="showHalfwayPopup($event)">
    </app-table>
  </div>

  <!-- halfway popup -->
  <div class="popup-modal facebook-style" *ngIf="halfwayPopup">
    <div class="popup-modal-header">
      <div class="title">
        <span *ngIf="isPending">{{'Update or Delete this Rendezvous' | translate}}</span>
        <span *ngIf="isApproved">{{'Update or Call Off this Rendezvous' | translate}}</span>
      </div>
      <div class="close-btn" (click)="hidePopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div> <!-- /popup-header -->
    <div class="popup-modal-body">
      <div style="margin: 15px 0 30px 0;">
        - {{'Name:' | translate}} <strong>{{ rdv?.displayName }}</strong><br>
        - {{'Created in:' | translate}} <strong>{{ rdv?.createdAt }}</strong><br>
        <span *ngIf="isApproved">- {{'Rendezvous Date:' | translate}} <strong>{{ rdv?.rdvDate }}</strong></span>
      </div>
      <div class="btns-container">
        <button class="btn btn-primary" (click)="proceedToUpdate()">
          {{'Update Rendezvous' | translate}}
        </button>
        <button *ngIf="isPending" class="btn btn-danger" (click)="deleteRendezvous()">
          {{'Delete Rendezvous' | translate}}
        </button>
        <button *ngIf="isApproved" class="btn btn-danger" (click)="cancelRendezvous()">
          {{'Call Off Rendezvous' | translate}}
        </button>
      </div>
      <!-- error msg -->
      <div *ngIf="errMsg" class="alert alert-danger">
        {{ errMsg }}
      </div>
    </div> <!-- /popup-body -->
  </div> <!-- /halfway-popup -->

  <!-- update rdv popup -->
  <div *ngIf="updatePopup" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        {{'Updating Rendezvous' | translate}}
      </div>
      <div class="close-btn" (click)="hidePopup()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div> <!-- /popup-header -->
    <div class="popup-modal-body">
      <app-rdv-form
        [rdv]="rdv"
        (rdvFormValue)="updateRendezvous($event)">
      </app-rdv-form>
      <!-- error msg -->
      <div *ngIf="errMsg" class="alert alert-danger">
        {{ errMsg }}
      </div>
    </div> <!-- /popup-body -->
  </div> <!-- /update rdv popup -->

  <!-- darken bg -->
  <div *ngIf="halfwayPopup || updatePopup" class="overlay" (click)="hidePopup()"></div>
</div>
