#container {
  min-height: 100vh;
}

.form {
  min-width: 300px;
  max-width: 550px;
  padding: 15px;
  margin: 15px auto;
}

.warning-message {
  color: rgb(253, 51, 91);
  font-size: small;
  padding: 0 5px;
  margin: 11px 0;
  border-radius: 3px;
}

.btn {
  width: 100%;
  margin-top: 15px;
}

.text-success {
  font-size: large;
}
