<div id="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" class="form facebook-style">
    <h1>Find your account</h1>
    <p style="opacity: 0.7;">Enter your e-mail address so we can send you a reset password link.</p>

    <hr style="margin: 35px 0;">

    <div>
      <input class="form-control" type="email" formControlName="email" placeholder="Email">
      <p *ngIf="forgotPasswordForm.controls['email'].touched &&
          forgotPasswordForm.controls['email'].invalid" class="warning-message">
        Email is invalid
      </p>
    </div>

    <div *ngIf="firebaseErrorMessage" class="warning-message">{{ firebaseErrorMessage }}</div>

    <div style="margin-top: 15px ;">
      <button [disabled]="mailSent || forgotPasswordForm.invalid" class="btn btn-info">
        Reset my password
      </button>
    </div>

    <div *ngIf="mailSent" style="margin-top: 15px; text-align: center;">
      <span class="text-success">A link has been sent to your email address!</span>
    </div>

    <hr style="margin: 35px 0;">

    <div style="text-align: center;">Go back to login? <a routerLink="/auth/login">Log In</a></div>
  </form>
</div>
