<div id="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" class="form facebook-style">
    <h1>Find your account</h1>
    <p>Enter your Address e-mail so we can send you a reset password link.</p>
    <div>
      <input class="form-control" type="email" formControlName="email" placeholder="Email" autocomplete="off">
    </div>
    <div *ngIf="firebaseErrorMessage" class="error-style">
      <span>{{ firebaseErrorMessage }}</span>
    </div>
    <div style="margin-top: 15px ;">
      <button [disabled]="mailSent || forgotPasswordForm.invalid" class="btn btn-info">
        Reset my password
      </button>
    </div>
    <div *ngIf="mailSent" class="text-success">
      <p>A link has been sent to your email adresse!</p>
    </div>
    <hr>
    <div>Go back to login? <a routerLink="/auth/login">Log In</a></div>
  </form>
</div>
