<div class="usrs-part-container">
  <div *ngIf="adminAccess && users" class="table-container facebook-style">
    <app-table
      [tableCols]="usrsCols"
      [infos]="users"
      [showBtns]="true"
      [currentUser]="user"
      (updateInfosEvent)="proceedToUpdate($event)">
    </app-table>
  </div>

  <!-- popup (edit profile) -->
  <div *ngIf="editProfilePopup" class="popup-modal facebook-style">
    <div class="popup-modal-header">
      <div class="title">
        {{'Edit Profile' | translate}}
      </div>
      <div class="close-btn" (click)="hideEditProfilePopUp()" title="{{'Cancel' | translate}}">
        &times;
      </div>
    </div>
    <div class="popup-modal-body">
      <app-edit-profile
        [profileInfos]="updateUser"
        [currentUser]="user"
        (updatedValues)="updateProfile($event)">
      </app-edit-profile>
      <p *ngIf="updateErrMsg" class="text-danger">{{ updateErrMsg }}</p>
    </div>
  </div> <!-- /popup-modal(edit profile) -->

  <!-- chart here -->
  <div *ngIf="users && usrsPerMonth" class="chart-container facebook-style">
    <app-chart
      [chartX]="months"
      [chartY]="usrsPerMonth"
      [chartType]="'bar'"
      chartTitle="{{'New Users Per Month' | translate}}"
      [chartID]="'usrsChart'">
    </app-chart>
  </div>
</div>
<div *ngIf="editProfilePopup" class="overlay" (click)="hideEditProfilePopUp()"></div>
