/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --main-color: #191970;
  --side-color: #ecf39e;
  --danger-color: #dc3545;
  --font-color: #121212; /* rgba(100%, 100%, 100%, 87%) */
  --header-font: #ffffff; /* rgba(100%, 100%, 100%, 87%) */
  --template-bg-color: #ffffff; /* #121212 */
  --popup-bg-color: #ffffff; /* #000000 */
  --body-bg-color: #ebebeb; /* #000000 */
  --mainToSide-color: #191970; /* #ecf39e */
  --overlay-color: #000000; /* #ffffff */
}

* {
  font-family: sans-serif;
}

html {
  height: 100%;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color) !important;
  min-width: 300px;
  min-height: 100vh;
}

.facebook-style {
  color: var(--font-color);
  background-color: var(--template-bg-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* tables styles */

.table-container {
  max-width: 90%;
  padding: 15px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.t-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px auto;
  width: 100%;
}

.t-title {
  font-size: 1.25rem;
  padding: 7px 15px;
  color: var(--popup-bg-color);
  background-color: var(--mainToSide-color);
  border-radius: 3px;
}

tr.t-row {
  white-space: "nowrap";
  vertical-align: middle;
  cursor: zoom-in;
}

.t-row:hover {
  color: var(--mainToSide-color);
}

.row-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#tableBtn {
  height: fit-content;
  padding: .25rem .5rem;
  margin-left: 5px;
  align-self: center;
  background-color: var(--mainToSide-color);
  color: var(--popup-bg-color);
  border: none;
}

#tableBtn:hover {
  filter: brightness(.9);
  transition: .25s;
}

.export-btns {
  color: var(--mainToSide-color);
  background: transparent;
  border: 1px solid var(--mainToSide-color);
  border-radius: 3px;
  padding: 3px 7px;
  margin: 5px;
}

.export-btns:hover {
  background-color: var(--mainToSide-color);
  color: var(--popup-bg-color);
}

/* input styles */

.input-form {
  outline: none;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--template-bg-color);
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.input-form:focus {
  border: 2px solid var(--main-color);
}

/* popup styles */

.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  z-index: 11;
  color: var(--font-color);
  background-color: var(--popup-bg-color);
  border-radius: 5px;
}

.popup-modal-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--font-color);
}

.popup-modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.popup-modal-header .close-btn {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.popup-modal-body {
  padding: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  opacity: 0.3;
  z-index: 10;
}

/* alert styles */

.danger-msg {
  color: var(--danger-color);
  font-size: smaller;
  padding: 0 5px;
}

.danger-input {
  border: 1px solid var(--danger-color);
}

/* media queries */

@media screen and (max-width: 950px) {
  .table-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .t-title {
    font-size: 0.9rem;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
