/* You can add global styles to this file, and also import other style files */

* {
  font-size: 1rem;
}

:root {
  --main-color: #191970;
  --accent-color: #ecf39e;
  --danger-color: #a82a00
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef !important;
  min-width: 300px;
  min-height: 100vh;
}

.facebook-style {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.4);
}

.row-btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#tableBtn {
  height: fit-content;
  padding: .25rem .5rem;
  margin-left: 5px;
  align-self: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
