.dashboard-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: max-content auto;
}

.sidebar {
  width: max-content;
  color: #fff;
  background-color: #111;
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  height: max-content;
}

.toggle-sidebar {
  display: flex;
  justify-content: flex-end;
}

.toggle-sidebar>span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn {
  font-size: 2rem;
  font-weight: bold;
}

.side-link {
  padding: 15px 20px;
  cursor: pointer;
}

.side-link:hover {
  filter: brightness(75%)
}

.active {
  background-color: #707019;
}

.side-link {
  padding: 15px;
}

.main-content {
  overflow: hidden;
  padding: 15px;
}





/*

position: -webkit-sticky;
position: sticky;
top: 0;

*/
