.dashboard-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: max-content auto;
}

.sidebar {
  background: rgb(27, 27, 27);
  color: #fff;
}

.main-content {
  overflow: hidden;
}

.sidebar>div {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar>div:hover {
  filter: brightness(75%)
}

.active {
  background-color: #707019;
}

.users-container, .rdvs-container {
  padding: 15px;
}
