.dashboard-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: max-content auto;
}

.sidebar {
  width: max-content;
  color: #fff;
  background-color: #111;
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  height: max-content;
}

.toggle-sidebar {
  display: none;
}

.web-side-links {
  padding: 15px;
  cursor: pointer;
}

.web-side-links:hover {
  filter: brightness(75%);
}

.active {
  background-color: #707019;
}

.main-content {
  overflow: hidden;
  padding: 15px;
}

@media screen and (max-width: 950px) {
  .mobile-side-links, .web-side-links {
    display: none;
  }

  .mobile-side-links {
    padding: 15px;
    cursor: pointer;
  }

  .mobile-side-links:hover {
    filter: brightness(75%);
  }

  .toggle-sidebar {
    display: flex;
    justify-content: flex-end;
  }

  .toggle-sidebar>span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .close-btn {
    font-size: 2rem;
    font-weight: bold;
  }
}



/*

position: -webkit-sticky;
position: sticky;
top: 0;

*/
