<div class="dashboard-container">
  <!-- sidebar -->
  <div class="sidebar">
    <div class="fixed">
      <div class="toggle-sidebar">
        <span (click)="toggleSidebar()">
          <mat-icon *ngIf="!showSidebar" title="{{'Show Sidebar' | translate}}">menu</mat-icon>
          <span *ngIf="showSidebar" class="close-btn" title="{{'Cancel' | translate}}">&times;</span>
        </span>
      </div>
      <div *ngIf="showSidebar" class="users-title-container side-link" (click)="showUsers()" [ngClass]="{'active': usersON}">
        {{'Users' | translate}}
      </div>
      <div *ngIf="showSidebar" class="rdvs-title-container side-link" (click)="showRDVs()" [ngClass]="{'active': RDVsON}">
        {{'Rendezvous' | translate}}
      </div>
    </div>
  </div> <!-- /sidebar -->

  <!-- main content -->
  <div class="main-content">
    <!-- users -->
    <div *ngIf="usersON" class="users-container">
      <app-users-part></app-users-part>
    </div>
    <!-- rendezvous -->
    <div *ngIf="RDVsON" class="rdvs-container">
      <app-rendezvous></app-rendezvous>
    </div>
  </div> <!-- /main-content -->

</div> <!-- /dashboard-container -->
