.chart-container {
  overflow: scroll;
  overflow-y: hidden;
  padding: 5px;
}

.hdr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  border-bottom: 1px dotted #000;
  min-width: 500px;
}

.bg-color {
  width: 75px;
  padding: 0;
  cursor: pointer;
  border: 1px solid #191970;
}

.btn-outline-success {
  height: 40px;
  min-width: max-content;
}

.canva-container {
  position: relative;
  height: 70vh;
  min-width: 500px;
}

.chart {
  padding: 15px;
  border-radius: 7px;
}

@media screen and (max-width: 650px) {
  .hdr-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-outline-success {
    margin-bottom: 15px;
  }

}
