<div class="chart-container">
  <!-- header -->
  <div class="hdr-container">
    <div style="display: flex; align-items: center;">
      <span style="margin-right: 7px; white-space: nowrap;">{{'Change Background Color ' | translate}}</span>
      <input type="color" class="bg-color form-control" [(ngModel)]="bgColor">
    </div>
    <button class="export-btns" (click)="exportChart()">
      {{'Export To Image' | translate}}
    </button>
  </div>

  <!-- canvas -->
  <div class="canva-container">
    <canvas [id]="chartID" class="chart" [style.background-color]="bgColor"></canvas>
  </div>
</div>
